@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*-----------------------------*\
         common style
\*-----------------------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1050px;
}
.team-btn {
    font-size: 16px;
    background-color: #E02C6D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition: 0.8s;
}

.team-btn .fas {
    margin-left: 5px;
}

.team-btn:hover {
    cursor: pointer;
    background-color: #78af12cc;
    padding: 10px 50px;
    border-radius: 10px;
}

/*-----------------------------*\
         header style
\*-----------------------------*/
.header-content {
    display: flex;
    justify-content: space-around;
    background-color: #2D25A0;
    padding-bottom: 53px;
    padding-top: 153px;
    margin-bottom: 70px;

}

.header-title h2 {

    color: #fff;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
}

.header-banner img {
    width: 556.01px;
    height: 438px;
}

.header-banner {
    transition: 0.5s;
}

.header-banner:hover {
    cursor: pointer;
    transform: translateY(-10px);
}
/*-----------------------------*\
         main style
\*-----------------------------*/

/*-----------------------------*\
         players card's style
\*-----------------------------*/
.all-players {
    width: 1050px;
    margin: auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
}

.player {
    width: 300px;
    height: 456px;
    padding: 15px;
    margin: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-photo img {
    width: 300px;
    height: 256px;

}

.player-description h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    color: #18191F;
    margin: 16px 0 10px 0;
}

.player-description p {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #6C6C6C;
    margin: 10px 0;
}

/*-----------------------------*\
         highlight style
\*-----------------------------*/
.highlight-container {
    width: 1100px;
}

.highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-description {
    width: 469px;
    height: 309px;
}

.highlight-description h2 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 8px
}

.highlight button {
    margin-top: 27px;
}


.highlight-thumbnail img {
    width: 567px;
    height: 427px;
}

/*-----------------------------*\
         footer style
\*-----------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin-top: 100px;
}

.logo-images img {
    transform: translateX(50%);
    width: 50%;
}

.icon {
    text-align: center;
    margin-top: 20px;
}

.icon i {
    font-size: 32px;
    color: #969BAB;
    margin: 0 10px;
}

small {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    width: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*-----------------------------*\
         media queries
\*-----------------------------*/
/*-----------------------------*\
         mobile version
\*-----------------------------*/

@media only screen and (max-width: 688px) {

    .container,
    .highlight-container {
        width: 100%;
    }

    .header-content {
        padding: 0 10px;
        flex-direction: column;
    }

    .header-banner img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .header-title h2 {
        font-size: 40px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }

    .player {
        margin: 0 auto;
    }

    .highlight {
        flex-direction: column;
        padding: 0 10px;
    }

    .highlight-thumbnail img {
        width: 100%;
        height: 100%;
    }

    .highlight-description {
        width: 100%;

    }

    .highlight-description h2 {
        font-size: 40px
    }

    .icon i {
        font-size: 20px;
    }

    small {
        font-size: 10px;
    }
}

/*-----------------------------*\
         pad version
\*-----------------------------*/

@media only screen and (min-width: 689px) and (max-width: 991px) {

    .container,
    .highlight-container {
        width: 100%;
    }

    .header-content {
        padding: 0 10px;
        flex-direction: column;
    }

    .header-banner img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .header-title h2 {
        font-size: 60px;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
    }

    .player {
        margin: 0 auto;
    }

    .highlight {
        flex-direction: column;
        padding: 0 10px;
    }

    .highlight-description {
        text-align: start;
    }
}